@use "variables" as v;
/* Sidebar */
.client-testimonial-2{
  font-family: v.$font-mona;
    font-size: 18px;
    text-decoration: none;
    color: #757575;
    padding-left: 20px;
}
.services-nav{
  font-family: v.$font-mona;
  font-size: 18px;
  color: #757575;
  text-decoration: none;
  margin-left: 5px;
  padding-left: 10px;
}
.fixing-text{
  color: #ee4c2b;
}
.service-arrow{
  margin-left: 10em;
}

/* Why we best */

.mvp-subtitle{
  font-family: v.$font-mona;
  font-size: 20px;
  font-weight: 600;
  color: #ee4c2b;
}
.mvp-content{
  font-family: v.$font-inter;
  font-size: 18px;
  color: #000000;
}
.mvp-subtitle-2{
  font-family: v.$font-mona;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
}
.card-mvp{
  width: 600px;
  max-height: 300px;
  background-color: #f7f7f7;
  padding: 14px 14px 14px 5px;
  border-radius: 10px;
}
.black{
  display: flex;
  flex-direction: column;
  background-color: #222222;
  padding: 32px 32px 32px 32px;
  border: #222222 1px solid;
  border-radius: 20px;
  max-height: 560px;
  color: #ffffff;
}
.black-content{
  font-family: v.$font-mona;
  font-size: 32px;
  font-weight:600;
  color: #ffffff;
  padding: 20px 50px 20px 50px;
}
.process-title{
  font-family: v.$font-mona;
  font-size: 24px;
  font-weight:600;
}
.process-content{
  font-family: v.$font-inter;
  font-size: 18px;
  color: #757575;
}
.feature-item {
  margin-bottom: 2rem;
}
.process-line{
  font-family: v.$font-inter;
  font-size: 18px;
  color: #222222;
}
.discuss-text{
  font-family: v.$font-mona;
  font-size: 28px;
  font-weight: 600;
  padding: 20px 50px 20px 20px;
}
.bg-img{
  position: absolute;
  width: 31%;
  height: 30%;
  right: 67px;
  top: 251rem;
}
.bg-img-2{
  position: absolute;
  width: 49%;
  height: 48%;
  right: -4px;
  top: 160rem;
}
.black-content-2{
  font-family: v.$font-mona;
  font-size: 20px;
  font-weight:500;
  color: #ffffff;
  padding: 20px 50px 20px 50px;
}
.discuss-link a{
  text-decoration: none;
  font-family: v.$font-inter;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
/* Choose us */
.choice{
  margin: 0 !important;
  padding: 0 !important;
}
.card-choice{
  padding-left: 0 !important;
}
.card-choose{
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  padding: 48px;
}
.discuss-container-overview{
  display: flex;
  flex-direction: column;
  background-color: #222222;
  padding: 32px 32px 32px 32px;
  border: #222222 1px solid;
  border-radius: 20px;
  max-height: 700px;
  color: #ffffff;
}

/* cover 2 columns */
.solutions-title{
  font-family: v.$font-mona;
  font-size: 32px;
  font-weight:600;
}
.solution-text{
  font-family: v.$font-inter;
  font-size: 16px;
}
.solution-btn{
  margin-left:0 !important ;
  padding-left: 0 !important;
}
.cover-img{
  background-color: #222222;
  color: #ffffff;
}
.solution-subtitle{
  font-family: v.$font-inter;
  font-size: 20px;
  font-weight: 700;
}
.services-row{
  margin-left: 0 !important;
}
.solution-list li{
  font-family: v.$font-inter;
  font-size: 20px;
}
.solution{
  margin-left: 0 !important;
}

/* Guarented results */
.red-line-horizontal-2{
  margin-top: 120px;
  width: 100%;
}

/* Tech Stack */

.programming-card{
  background-color: #f0f0f0;
  max-width: 160px;
  height: 140px;
  border: 1px solid #dddddd;
  padding-top: 35px !important;
}

.programming-subtitle{
  font-family: v.$font-inter;
  font-size: 18px;
}

/* Last Section */

.ready-title{
  font-family: v.$font-mona;
  font-size: 48px;
  font-weight: 800;
}
.ready-content{
  font-family: v.$font-inter;
  font-size: 20px;
  color:#000000;
}