@use "variables" as v;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mona Sans", sans-serif !important;
  background-color: FFFFFF !important;
}
.main-logo{
  max-width: 100%;
  height: auto;
}
/* Repeatables */
.mt-20 {
  margin-top: 4rem !important; 
}
section {
  padding: 1.5rem 4.5rem 1.5rem 4.5rem;
}
input[type="checkbox"]:checked{
  background-color: #ee4e34;
  border-color: #ee4e34;
  box-shadow: none;
}
.sec{
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
}
.container-overflow {
  padding: 1.5rem 0 1.5rem 4.5rem;
  overflow-x: hidden;
}
.fa-circle{
  padding-left: 8px;
  padding-bottom: 1px;
  margin-bottom: 2px;
  font-size: 12px;
}
.fa-circle:hover::before{
  content:"\f061";
  transition: 0.5s ease;
  color: #ee4e34;
  background-color: #fff;
  border-radius: 10px;
  padding: 3px;
}
.nav-button .hover-icon {
  display: none;
}
.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.nav-button:hover .default-icon {
  display: none;
}

.nav-button:hover .hover-icon {
   position: relative;
  display: inline-flex;
  color: #ee4e34;
  background-color: #fff;
  border-radius: 10px;
  padding: 3px;
}

h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

p {
  font-size: 1.125rem;
}


.case-studies-slider .hover-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}
.btn-secondary {
  padding-top: 1.5rem;
}
.screen-reader-text,
.wp-block-spacer,
.clearfix::before {
  display: none !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
/*media queries*/
/* Extra large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
  .sec {
    max-width: 1300px;
    margin: 0 auto;
  }
}

/* Large devices (desktops, 992px to 1199px) */
@media (max-width: 1199.98px) {
  .sec {
    padding: 50px;
    font-size: 17px;
  }
}

/* Medium devices (tablets, 768px to 991px) */
@media (max-width: 991.98px) {
  .sec {
    padding: 40px;
    font-size: 16px;
    flex-direction: column;
  }
}

/* Small devices (landscape phones, 576px to 767px) */
@media (max-width: 767.98px) {
  .sec {
    padding: 30px;
    font-size: 15px;
  }
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .sec {
    padding: 20px;
    font-size: 14px;
  }

  h1, h2, h3 {
    font-size: 90%;
  }

  .btn {
    width: 100%;
  }
}


/* Button */
.btn a {
  text-decoration: none;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 999px;
  background-color: #ee4e34;
  padding: 0.5rem 1rem 0.5rem 1rem;

}
.btn {
  border-color: transparent !important;
  padding-left: 0 !important;
}
.btn1{
  background-color: transparent;
  width: 50px;
}
.btn-case-study {
   background-color: #fff !important;
  border: none !important;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  display: flex;
  gap: 1.813rem;
  justify-content: space-between;
  align-items: center;
}
.nav-item a:hover {
  border-bottom: 2px solid red;
}
.dropdown-menu{
  display: none !important;

}
.navbar-nav .nav-item:hover .dropdown-menu {
  display: block !important;
  padding: 0;
  // width: 1300px !important;
  min-height: 300px !important;
  left: 40px;
  background-color: #f0f0f0;
  border-radius: 1rem;

}
.nav-item a {
  text-decoration: none ;
  color: #222222;
}
.nav-link {
  padding: 0.5rem 1rem 0.5rem 1rem !important;
}

.nav-button {
  padding-right: 0.5rem;

}

.fa-solid {
  color: white;
}
.btn-learn{
  display: flex;
  justify-content: right;
  align-items: right;
  // position: absolute;
  // right: 70px;
}
.btn-blogs{
    width: 2rem;
  height: 2rem;
  background-color: #757575;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  border-radius: 999px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  margin-top: 5px;
}
/* Main Header */
.main-header {
  background-color: #222222;
  padding: 48px 48px 48px 48px;
  max-height: 400px;
  border-radius: 1rem;
  background-image: url("Image Assets/Isolation_Mode.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-header-title {
  color: white;
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

.main-header-title-span {
  font-size: 1.5rem;
}

.btn-main-header {
  padding-bottom: 2rem;
}

.clients-title {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  color: white;
  font-weight: 500;
  font-size: 23px;
}

.clients-logo {
  padding: 0.5rem 0 0.5rem 0;
  display: flex;
  gap: 3.125rem;
}

.clients-logo-single {
  width: 10%;
}
/* Media Queries for Responsiveness */

@media (max-width: 1200px) {
  .main-header-title {
    font-size: 2rem;
  }

  .clients-logo {
    justify-content: center;
  }

  .clients-logo-single {
    max-width: 100px;
  }
}

@media (max-width: 992px) {
  .main-header-title {
    font-size: 1.8rem;
  }

  .clients-logo-single {
    max-width: 90px;
  }

  .clients-logo {
    justify-content: center;
  }

  .btn-main-header {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .main-header-title {
    font-size: 1.5rem;
  }

  .clients-logo {
    justify-content: center;
  }

  .btn-main-header {
    margin-top: 10px;
  }

  .clients-logo-single {
    max-width: 80px;
  }
}

@media (max-width: 576px) {
  .main-header-title {
    font-size: 1.2rem;
    text-align: left;
  }

  .btn-main-header {
    margin-top: 10px;
  }

  .clients-logo {
    flex-direction: column;
    align-items: center;
  }

  .clients-logo-single {
    max-width: 70px;
    margin-bottom: 10px;
  }
}
/* Services */

.service-icon {
  width: 30%;
  margin-top: 0.5rem;
  padding-bottom: 2rem;
}
.slick-services .card {
  margin: 0 10px 0 0; 
  height: 400px !important;

}


.card-body{
  flex-shrink: 0;  
}
.card {
  position: relative;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 1rem;
  background-color: #F7F7F7;
  height: 372px;
  max-width:420px;
  overflow-y: hidden;
}

.service-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.arrow-btn {
  width: 2rem;
  height: 2rem;
  background-color: #ee4e34;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  border-radius: 999px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-angle-right,
.fa-angle-left {
  font-size: 1rem;
  padding: 0;
}

.arrow-btn-container {
  display: flex;
  gap: 0.5rem;
  align-items: right;
  justify-content: right;
  padding-right: 4.5rem;
  padding-top: 0.5rem;
}
.service-content{
  font-family: v.$font-helvetica;
  font-size: 18px;
  color: #757575;
}
.service-list li{
  font-family: v.$font-helvetica;
  font-size: 16px;
  margin-bottom: 3px;
}
/* Case Studies */

.case-main-container {
  display: flex;
  gap: 1.5rem;
}
.card-case {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}

 .card-case img {
  width: 100%;
  height: 100%;
  object-fit:cover  ; /* Or use 'contain' if needed */
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}
.case-studies-slider .slick-slide {
  padding: 0 10px 0 0; /* Adjust gap as needed */
  box-sizing: border-box;
  height: 400px !important;
}

.case-study-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.case-study-item {
  display: flex;
  flex-direction: column; /* stack children vertically */
  align-items: center;    /* center horizontally */
  margin-bottom: 40px;    /* spacing between items */
}

.case-logo {
  margin-top: 10px;
  max-width: 150px;
  height: auto;
}


/* Problems */

.container-problem {
  padding-top: 4.5rem;
}

.problem-title {
  padding-bottom: 1rem;
  font-family: v.$font-mona;
  font-size: 32px;
  font-weight: 600;
}

.problem-subtitle {
  font-weight: 500;
  font-family: v.$font-inter;
  font-size: 20px;
}

.problem-statement {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  border: 0.5px solid #ee4e34;
  border-radius: 0.5rem;
}

.solution-statement {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  border: 0.5px solid #399f6f;
  border-radius: 0.5rem;
}

.fa-triangle-exclamation {
  color: #ee4e34;
}

.btn-problem-solution {
  padding-top: 2.875rem;
}

/* Engagement Model */

.engagement-model-container {
  padding: 3rem 4.5rem 3rem 4.5rem;
  justify-items: center;
  background-color: #222222;
  color: #f7f7f7;
}
.enagage-title{
  padding-left: 0 !important;
}
.engagement-model-container-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.model-block-container {
  display: flex;

  align-items: center;
  position: relative;
}

.model-block {
  width: 24.375rem;
  height: 28rem;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  gap: 3.063rem;
  flex-direction: column;
  background-color: #dddddd;
  color: #222222;
  align-items: center;
  position: relative;
  z-index: 1;
}

.orange-model-block {
  width: 27.688rem;
  height: 30.875rem;
  color: white;
  background: rgb(238, 78, 52);
  background: linear-gradient(
    198deg,
    rgba(238, 78, 52, 1) 0%,
    rgba(252, 157, 141, 1) 100%
  );
  position: relative;
  z-index: 2;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.model-block-title {
  font-family: "Poppins", sans-serif;
  font-size: 2.813rem;
  font-weight: 300;
}

.model-block-text {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
}

.model-block-text-container {
  display: flex;
  gap: 2.031rem;
  align-items: flex-start;
}

.engagement-model-title {
  font-size: 2.5rem;
  padding-bottom: 4.5rem;
}

.model-left {
  transform: translateX(2.5rem);
}

.model-right {
  transform: translateX(-2.5rem);
}


.btn-engagement{
  margin-top: 5.5rem !important;
}

/* Engagement Model Boxes */

.engagement-icon {
  width: 20%;
  margin-top: 0.5rem;
  padding-bottom: 2rem;
}

.engagement-container-single {
  padding: 1.5rem;
  background-color: #f7f7f7;
  border-radius: 0.75rem;
  border: 1px solid #dddddd;
}

.engagement-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding-bottom: 1rem;
}

/* cards */
.card-body img{
width: 35%;
margin-top: 0.5rem;
padding-bottom: 2rem;
}
.extra-content {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-top: 10px;
}
.card:hover{
  cursor: pointer;
}
.card:hover .extra-content  {
  display: block;
  opacity: 1;
  transition: 1s ease-in-out;
  transition-delay: 1s;
}
.card:hover .card-body .extra {
  display: block;
}
.card:hover .card-body .extra-content .extra-p {
  display: block;
  opacity: 1;
}
.card:hover .card-body img  {
  display: none;
}
.card:hover .card-body p {
  display: none;
}
.card:hover .card-body h3 {
  display: none;
}
.card-case img{
  max-width: 520px;
  height:300px;
}
.row-1{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.container-hover {
  position: relative;
  display: inline-block;
  width: 100%;
}

.card-img-top {
  display: block;
  width: 100%;
  height: 100%;
}



.hover-overlay {
  position: absolute;
  top: 14px;
  left: 15px;
  width: 387px;
  height: 301px;
  color: #fff;
  background-color: rgba(114, 109, 109, .5);
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 16px;
  cursor: pointer;
  padding: 25px;
}
.hover-overlay .hover-text p{
  padding-top: 100px;
  display: flex;
  align-items: flex-start; 
  justify-content: flex-start; 
  font-size: 18px;
  text-align: start;
}
.hover-overlay .hover-text a{
  display: flex;
  align-items: flex-start; 
  justify-content: flex-start; 
  max-width: 160px;
  border-radius: 20px;
  font-size: 14px;
}

.hover-text {
  text-align: center;
  padding: 1rem;
}

.container-hover:hover .hover-overlay {
  opacity: 1;
}

.problem-statement-text{
 margin-bottom: 0 !important;
 font-family: v.$font-inter;
  font-size: 20px;
}
.row{
  margin-right: calc(1.5 * var(--bs-gutter-x));
  margin-left: calc(1.5 * var(--bs-gutter-x));
}
.card-model{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  gap: 3.063rem;
  flex-direction: column;
  background-color: #f7f7f7;
  color: #222222;
  align-items: center;
  position: relative;
  border: 1px solid #dddddd;
}
.card-body-model img{
  width: 20%;
  
}

/*  Mega Menu */
.vertical-line{
  margin-left: 150px;
  height: 300px;
  top: 24px;
  left: 155px;
}
 .Vector-mega {
    width: 25px;
    height: 25px;
    border: 1px solid #ee4e34;
    border-radius: 93px;
    padding: 7px;
    background-color: #fff;
    margin: 3px 3px 3px -1px;
}
.image-mega{
  width: 43px;
  height: 43px;
}
.quote-text{
  font-weight: 600;
  font-size: 16px;
  font-family: v.$font-inter !important;
}
 .mega-list li{
  font-size: 14px;
 }
 .mega-list li:hover{
  color: #ee4e34;
  cursor: default !important;
 }
 .services{
  font-family: v.$font-inter !important;
  margin-left: 5px;
 }
 .development{
  cursor: default !important;
 }
/* Why Choose */
  .feature-box {
      padding: 2rem;
    }
.choose-title{
  margin-left: 3px !important;
}
.choose-us{
  padding-left: 0 !important;
}

    .icon-img {
      width: 40px;
      height: 40px;
    }

    .red-line-horizontal {
      width: 100%;
      margin: 1rem 0;
    }

    .red-line-vertical {
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    height: 80%;
    width: 100%;
    }

    .content-wrapper {
      position: relative;
    }

    .feature-title {
      font-weight: bold;
      font-family: v.$font-mona !important;
      font-size: 20px !important;
    }
    .text-muted1{
      color: #757575 !important;
      font-family:  v.$font-inter !important;
      font-size: 18px !important;
    }
    .overpromise{
      margin-bottom: 100px;
    }
    .cheap{
      margin-top: 130px;
    }
  /* Buzz section */
  .buzz-title{
    font-family: v.$font-mona;
    font-size: 32px ;
    font-weight: 800 ;
    padding: 0 !important;
  }
 
  .buzz-sub-title{
    font-family: v.$font-inter ;
    font-size: 20px;
    margin: 0 !important;
    padding: 0 !important;
  }
  .card-buzz{
  width: 100%;
  height: fit-content;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #f7f7f7;
  color: #222222;
  border: 1px solid #dddddd;
  display: flex;
  flex-wrap: wrap;
  }
  .buzz-content{
    margin-left: 20px;
  }
  .buzz-name{
    font-family: v.$font-mona;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
  }
  .buzz-designation{
    font-family: v.$font-inter;
    font-size: 12px;
    margin-top: 5px;
  }
  .buzz-quote{
    width: 20%;
    margin-left: 50px;
    margin-bottom: 8rem;
  }
  .buzz-quote-text{
    font-family: v.$font-inter;
    font-size: 20px;
    margin-top: 2rem;
  }
  .step-indicator {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    user-select: none;
  }
  
  .step {
    font-family: v.$font-inter;
    width: 30px;
    height: 30px;
    color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    padding-bottom: 10px;
  }
  .step-bar {
    height: 3px;
    width: 100%;
    background-color: #ee4e34; /* or your active color */
    position: absolute;
    bottom: -6px;
    left: 0;
  }
  .step.active {
    color: #000000;
  }
  
  
    .project-title{
      font-family: v.$font-mona;
      font-size: 32px;
      font-weight: 600;
      
    }
  .project-info{
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
    /* Projects section */

.card-body-project {
    position: relative;
    overflow: hidden;
  }

  .card-body-project img {
    width: 100%;
    height: auto;
    display: block;
  }

  .foreground-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
    z-index: 2;
    border-radius: 10px;
  }

  .foreground-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }

  .slider-handle {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 2px;
    background: #222222;
    z-index: 3;
  }

  .slider-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background: #222222;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    cursor: e-resize;
  }
    .coffee{
      font-family: v.$font-inter;
      font-size: 18px;
      font-weight: 600;
      color: #222222;
    }
    .coffee-text{
      font-family: v.$font-inter;
      font-size: 16px;
      color: #222222;
    }
    /* Reviews section */
    .reviews{
      font-family: v.$font-mona;
      font-size: 32px;
      font-weight: 600;
    }
    .review-title{
      font-family: 'outfit', sans-serif;
      font-size: 24px;
      font-weight: 500;
    }
    .review{
      height:fit-content;
      background-color: #f7f7f7;
      padding: 24px;
      margin: 0 !important;
    }
    .stars{
      width: 60%;
    }

    /* discussion section */
    .discuss-container{
      display: flex;
      flex-direction: column;
      background-color: #222222;
      padding: 32px 32px 32px 32px;
      border: #222222 1px solid;
      border-radius: 20px;
      max-height: 750px;
    }
    .discuss-title{
      font-family: v.$font-mona;
      font-size: 24px;
      font-weight: 600;
      background-image: linear-gradient(to right, #ee4e34 , #ffffff);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
    }
    .discuss-text{
      font-family: v.$font-mona;
      font-size: 16px;
      font-weight: 400;
      color: #ffffff;
    }
    .dicuss-buttons{
     background-color: #333333;
    border-radius: 57px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding: 5px 15px;
    color: #ffffff;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #333333;
    margin: 5px;
    }
      .form-control,
    .form-control:focus {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #555;
      border-radius: 0;
      color: #fff;
      box-shadow: none;
    }

    .form-control::placeholder {
      color: #aaa;
      font-family: v.$font-inter;
      font-size: 12px;
    }
.btn-discuss{
 text-decoration: none;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 999px;
  background-color: #ee4e34;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: fit-content;
}


/* Blog section */
.blogs-title{
  font-family: v.$font-mona;
  font-size: 24px;
  font-weight: 600;
}
.blogs-slider .card{
  border-color: #ffffff;
  background-color: #ffffff;
  margin: 0 5px;
}
.blog{
  height: 225px !important;
}
.blogs{
  height: fit-content !important;
}
.card-title a{
  text-decoration: none;
  color: #000000;
} 
/* Footer */
.footer-sec{
  background-color: #222222;
  padding: 2rem 4.5rem 2rem 4.5rem;
  color: #f7f7f7;
}
.newsletter{
  font-family: v.$font-inter;
  font-size: 14px;
  color: #dddddd;
}
.newsletter-subtitle{
  font-family: v.$font-mona;
  font-size: 24px;
  font-weight: 600;
}
.input-arrow{
  color: #ee4e34;
}
.form-email{
  border: 1px solid #757575;
  border-width: 1px 0 1px 1px;
  box-shadow: #ffffff;
  max-width: 320px;
  height: 40px;
}
.email-btn{
  border: 1px solid #757575 ;
  border-radius: 0px !important;
  box-shadow: #ffffff;
}
.email-btn:hover{
background: transparent;
 border: 1px solid #757575;
  border-width: 1px 1px 1px 1px;
}
.checkbox-text{
  font-family: v.$font-inter;
  font-size: 12px;
  color: #ffffff;
}
.form-check-input{
  background-color: transparent;
  border: #f7f7f7 1px solid;
}
.newsletter-headings{
  font-family: v.$font-mona;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.copyright-footer{
  font-family: v.$font-inter;
  font-size: 14px;
  color: #dddddd;
}
.company{
  font-family: v.$font-mona;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.small a{
  font-family: v.$font-inter;
  font-size: 15px;
  color: #ffffff;
  position: relative;
  text-decoration: none;
}
.small img {
  transition: opacity 0.2s ease;
}
.small a:hover{
  color: #ee4e34;
  cursor: pointer;
}
.small i{
  opacity: 0;
}
.small a:hover i{
opacity: 1;
padding: 0!important;

}
.small a:hover img{
opacity: 0;
}
.fa-arrow-right{
  color: #ee4e34;
}

